html {
    font-family: sans-serif;
}

header {
    background: white;
    height: 70px;
}

body { 
    background-color: black;
    padding: 0;
    margin: 0;
}

#programmingHeader {
    text-align: center;
    padding: 10px;
    background-color: black;
    transition: transform .5s;
    margin: 0 auto;
}

#programmingHeader:hover {
    color: darkblue;
    transform: scale(1.5);
}

#topTrendingHeader {
    text-align: center;
    padding: 10px;
    background-color: black;
    transition: transform .5s;
    margin: 0 auto;
}

#topTrendingHeader:hover {
    color: rgb(28, 136, 28);
    transform: scale(1.5);
}

#novelsHeader {
    text-align: center;
    padding: 10px;
    background-color: black;
    transition: transform .5s;
    margin: 0 auto;
}

#novelsHeader:hover {
    color: darkorange;
    transform: scale(1.5);
}

#footerId {
    padding: 10px;
    background-color: white;
    transition: transform .5s;
    margin: 0 auto;
}

#footerId:hover {
    color: darkblue;
    transform: scale(1.2);
   
}

#siteTitle {
    padding: 5px;
    background-color: white;
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

#siteTitle:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#left-nav {
    float: left;
}

#right-nav {
    float: right;
}

#right-nav li a {
    display: block;
    text-decoration: none;
    color: #111;
    font-size: 1.2em;
}

ul li {
    list-style-type: none;
}

#left-nav li {
    color: black;
    display: inline-block;
    margin: 0;
}

#right-nav li {
    display: inline-block;
    margin: 15px;
}

.rightNav {
    padding: 5px;
    background-color: white;
    transition: transform .2s;
    margin: 0 auto;
}

.rightNav:hover {
    transform: scale(1.5);
}

h1 {
    color: white;
    margin-left: 5%;
}

a {
    color: black;
}

div.scrollmenu {
    background-color: black;
    opacity: 6;
    overflow: auto;
    white-space: nowrap;
    margin-right: 9%;
    margin-left: 5%;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: black;
}

footer {
    clear: both;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

#button {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 3%;
    transform: translateX(560%);
    padding: 15px;
    border-radius: 80%;
    transition-duration: 0.5s;
    border-color: darkcyan;
}

#button:hover {
    background-color: rgb(7, 167, 167);
    border-radius: 50%;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#bigSale {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    background-color: black;
    transition: transform .5s;
}

#bigSale:hover {
    color: cornflowerblue;
    transform: scale(1.5);
}

.until {
    transform: translate(50, 0);
    margin: 25px;
    margin-left: 27%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(r, 1fr);
    color: black;
    gap: 1em;
    padding: 1em;
    background: cornflowerblue;
    font-family: sans-serif;
}

.until__component {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: thick;
    border: rgb(7, 73, 73);
    transition-duration: 0.5s;
}

.until__numeric {
    color: black;
    padding: 0.5em 0;
    font-size: 3em;
    font-weight: bold;
}

.until__unit {
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: black;
}

.until__component:hover {
    background-color: rgb(196, 235, 235);
}

.until__event {
    grid-column: span 4;
    text-align: center;
    color: white;
    font-weight: bold;
    transition-duration: .5s;
}

.until__event:hover {
    color: rgb(196, 235, 235);
}